#blog{
    padding: 100px 0px;
}

#blog .title {
    text-align: center;
    color: #dac5a7;
    margin-bottom: 50px;
}

#blog .title h1 {
    font-size: 96px;
    font-family: 'Satoshi-Light';
    margin-bottom: 10px;
}

#blog .title p{
    font-size: 20px;
    font-family: 'Chillax-Variable';
}

.boxs{
    background-color: #181716;
    border: 1px solid rgba(218, 197, 167, 0.15);
    color: #dac5a7;
    padding: 40px;
    margin-top: 30px;
}

.boxs .image{
    margin-bottom: 30px;
    border: 1px solid rgba(218, 197, 167, 0.15);
    overflow: hidden;
}

.boxs .image img{
    height: 202px;
    object-fit: cover;
}

.boxs p{
    font-size: 16px;
    font-family: 'Satoshi-Light';
    margin-bottom: 10px;
    color: #877e6c;
}

.boxs h1{
    font-size: 24px;
    font-family: 'Satoshi-Light';
    margin-bottom: 10px;
}

.boxs h2{
    font-size: 14px;
    margin-bottom: 30px;
    font-family: 'Chillax-Variable';
}

.boxs h3{
    background-color: rgba(218, 197, 167, 0.05);
    border: 1px solid rgba(218, 197, 167, 0.15);
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Satoshi-Light';
    width: 28%;
}